# Credenciales de la cuenta UPC
UPC_CORREO=tu_correo@upc.edu.pe
UPC_PASSWORD=tu_contrasena

# Datos de compañero para finalizar reserva
COMPANERO_NOMBRE=Nombre Apellido
COMPANERO_CODIGO=u202XXXXXX

# Horario de la reserva (Formato 24h)
HORA_INICIO=20:00
HORA_FIN=22:00